<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0901</key>
	<string>凡是在涨的好的时候买进的个股，都在站岗！ 如龙大</string>
	<key>0905</key>
	<string>知行合一？？？-所谓高抛低吸的策略，就是高价委托卖！ 低价委托买！！！</string>
	<key>0904</key>
	<string>龙大 持续性热点，后续可期。 可转债公告和年底前</string>
	<key>0902</key>
	<array>
		<dict>
			<key>策略类</key>
			<string>一天一句话</string>
			<key>经验教训类</key>
			<string></string>
			<key>买入决策类</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
