<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SI&gt;9&amp;&amp;BP&lt;110---急涨出！10%/d</key>
	<array>
		<dict>
			<key>亚太转债---0919</key>
			<string>两三天后低吸。  持有一个月吧，出仓：急涨的时候出仓！  因为低风险，所以可承受。</string>
		</dict>
	</array>
	<key>SH指数 回调&gt;1%时，自选池中跌不动的标的</key>
	<array>
		<dict>
			<key>伊力转债</key>
			<string>价格：110</string>
		</dict>
	</array>
	<key>套利股</key>
	<array>
		<dict>
			<key>中百集团</key>
			<string>8.1  ？？</string>
		</dict>
	</array>
	<key>SI&gt;10%</key>
	<array>
		<dict>
			<key>凯力电气</key>
			<string>感觉这个涨停没有持续性，所以先卖出凯电转债。 炒作的成分大！-看了公告，感觉不是！</string>
		</dict>
	</array>
</dict>
</plist>
