<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0929---策略,&lt;110,SI&gt;9%可以低吸！</key>
	<array>
		<dict>
			<key>华通转债</key>
			<string>【110可建仓/小盘】</string>
			<key>三力转债</key>
			<string>【110可建仓】工业大麻 实打实，老挝</string>
			<key>中百集团</key>
			<string>【m20_SI=1.33/CP=28.78/BP=122.2小盘/饲料/维生素】</string>
			<key>亚太转债！ &lt;100</key>
			<string>可以建仓------三峡置换？</string>
		</dict>
	</array>
</dict>
</plist>
