<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>100-110，passConvertDays&lt;0</key>
	<array>
		<dict>
			<key>永鼎股份</key>
			<string>【富时罗素概念/5G概念/小盘】/民营医院/超导概念/云计算/融资融券/大数据/网络安全/一带一路/量子通信/新能源车/长三角一体化/光通信/装配建筑</string>
			<key>中国核电</key>
			<string>【富时罗素概念】/核电核能/大盘/新能源/航天军工/核电/融资融券/央企改革/证金汇金/MSCI中国/中核工业集团/</string>
			<key>华钰矿业(107)--低吸--估值110</key>
			<string>【黄金股！/小盘】/融资融券/小金属/ 股权转让/增持回购</string>
			<key>海峡环保</key>
			<string>【小盘】/节能环保/污水处理/PPP概念/福建国资</string>
			<key>荣盛环保</key>
			<string>【小盘】/节能环保/嘉兴地区</string>
			<key>好莱客----低吸 SP&lt;CP</key>
			<string>【小盘/富时罗素概念/增持回购 VS欧派家居】/电子商务/定制家居/</string>
			<key>欧派家居</key>
			<string>【QFII持股/富时罗素概念/高派息】基金重仓/大盘/融资融券/智能家居/定制家居/</string>
			<key>迪森股份</key>
			<string>【增持回购/小盘】/新能源/证金汇金/雄安新区/粤港澳/阿里概念/生态农业/生物质能/雄安能化/低碳经济/生物燃料/
【增持回购/小盘】/新能源/证金汇金/雄安新区/粤港澳/阿里概念/生态农业/生物质能/雄安能化/低碳经济/生物燃料/
</string>
			<key>九洲电气 -估值113</key>
			<string>【充电桩/小盘/5G/智能电网/充电桩/】太阳能/新能源/节能环保/储能/证金汇金/新基建/合同能源/风能/生物质能/清洁能源/黑龙江自贸区</string>
			<key>清水源- 108 低吸105？</key>
			<string>[msa_20=1.083]【小盘/】重组概念/污水处理/节能环保/污水处理/PPP概念</string>
			<key>创维数字------低吸 SP &lt; CP</key>
			<string>【富时罗素概念/华为海思/进一步回调？】券商重仓/成渝特区/中盘/网络游戏/融资融券/手游/安防/虚拟现实/人工智能/OLED/半导体/家用电器/独角兽概念/腾讯概念/华为概念/柔性电子/超高清/流媒体/智能电视/百度概念</string>
			<key>长江电力</key>
			<string>【富时罗素概念MSCI中国/高派息/充电桩】超大盘/分拆上市/保险重仓/金融参股/整体上市/重组概念/大盘/新能源/融资融券/央企改革/证金汇金/风能/电改/供给侧改革/水电/一线蓝筹/富时罗素概念</string>
			<key>翔鹭钨业</key>
			<string>【小盘/预盈预增/小金属/增持回购】</string>
		</dict>
	</array>
	<key>130-200，passConvertDays&lt;0 </key>
	<array>
		<dict>
			<key>和尔泰</key>
			<string>[CP=9.09/SV=5.52]【芯片概念/富时罗素概念/华为概念/5G】/智能家居/绿色照明/物联网/国防军工/中盘/物联网/航天军工/融资融券/大数据/智能家居/虚拟现实/人工智能/股权转让/阿里概念/小米概念/高出口占比/合同能源/增持回购/国资入股</string>
			<key>通威股份---10月后是否有戏？</key>
			<string>[CP=12.28/SV=2.84/BP=131.6]【富时罗素概念/增持回购举牌/MSCI中国/饲料/业绩预升/】新能源/成渝特区/乡村振兴/大盘/太阳能/ 新能源/融资融券/生态农业/多晶硅</string>
			<key>绝味食品</key>
			<string>【价值成长/高派息/休闲食品(易炒作)/】基金重仓/中盘/社保重仓/融资融券/</string>
			<key>大参林</key>
			<string>【高派息/价值成长/富时罗素概念/零售药店】基金重仓/中盘/融资融券</string>
			<key>中装建设</key>
			<string>【深汕合作区/小盘/】区块链/PPP概念/京津冀/雄安新区/粤港澳/装配建筑/</string>
		</dict>
	</array>
	<key>holding analyse</key>
	<array>
		<dict>
			<key>道氏科技------低价/观察</key>
			<string>【/氢能源/小盘/钴镍/富时罗素概念】/石墨烯/新能源/燃料电池/互联金融/供应链金融/商业保理/三元锂电/陶瓷概念</string>
			<key>杭电----------逢高减仓 ！！！</key>
			<string>【CP=7.24/SV = -0.9/富时罗素概念/5G】/石墨烯/军民融合/小盘/铁路基建/融资融券/石墨烯/高铁/电力物联网/轨道交通</string>
			<key>凯发</key>
			<string>【安防服务/垃圾分类/小盘】/铁路基建/一带一路/京津冀/电力物联网/轨道交通/高出口占比</string>
			<key>兄弟科技--------测试120</key>
			<string>[CP=5.25/SV=0.03/BP=115.212]【业绩预降（迷惑消息？）/维生素/小盘/维生素/供给侧改革/嘉兴地区（炒作）】/证金汇金/------是否可以突破120？</string>
			<key>利欧股份--------低吸 （111）</key>
			<string>【CP=1.72/SV=0.11/BP=115.122】【富时罗素概念/低价！！！/增持回购】水利建设/金融改革/重组概念/中盘/融资融券/锂电池/水利建设/电子商务/智能汽车/基因测序/区块链/乡村振兴/小米概念/农机/生态农业/水利工程/低碳经济/网络营销/</string>
			<key>华钰矿业-------低吸（107）</key>
			<string>【CP=10.17/SV=0.16/BP=107.51】【黄金股/小盘/增持回购/SP&gt;CP】/融资融券/小金属/ 股权转让/</string>
			<key>海南瑞泽-----逢高减仓</key>
			<string>【固废处理/垃圾分类/富时罗素概念/小盘】/股权激励/三沙概念/海南自贸/节能环保/融资融券/PPP概念/互联金融/赛马概念</string>
			<key>龙大肉食-------高抛低吸</key>
			<string>【猪肉/小盘】/融资融券/证金汇金/股权转让/猪肉概念（决策因素）</string>
			<key>久其软件-----低价/观察</key>
			<string>【华为概念/富时罗素概念/低价】/股权激励/国产软件/重组概念/小盘/云计算/大数据/手游/人工智能/区块链/雄安新区/阿里概念/数字中国/金融科技/互联金融/养老产业/供应链金融/智能交通/SAAS/网络营销/脸书概念</string>
		</dict>
		<dict>
			<key>格力转债 ----低吸 (107～108)！！！</key>
			<string>三个月就到期了！！！  9.27股东大会以后，定会强力拉升。 不知能否通过？？？ 回售价：106 以2元的成本博22的收益。</string>
			<key>华钰矿业-------低吸（105 2成）</key>
			<string>【黄金股/小盘/增持回购/SP&gt;CP=SV=0.14/CP=10.17】/融资融券/小金属/ 股权转让/</string>
			<key>九洲电气 - 109-估值113</key>
			<string>【充电桩/小盘/5G/智能电网/充电桩/SV=0.36/CP=5.7】太阳能/新能源/节能环保/储能/证金汇金/新基建/合同能源/风能/生物质能/清洁能源/黑龙江自贸区</string>
			<key>神州高铁-建仓观察</key>
			<string>董事会预案/小盘/深圳本地/业绩预升/富时罗素概念！-----炒作？3.5~3.62底部区域！ 建仓！！！</string>
			<key>鸿达兴业-建仓观察（10月后）</key>
			<string>证监会发审通过/稀土永磁/中盘/预盈预增/节能环保/氢能源/土壤修复!!! 6.88可低吸</string>
		</dict>
	</array>
	<key>history for fupananalyse - 2</key>
	<array>
		<dict>
			<key>特一-----------低价，逢高清仓</key>
			<string>【高派息/小盘】/重组概念/中药/知识产权/价值成长</string>
			<key>圣达生物----阶段顶部-回调？</key>
			<string>整体还是看好，饲料板块，新希望和溢多利，通威</string>
			<key>圣达生物-------高抛低吸</key>
			<string>【m20_SI=1.33/CP=28.78/BP=122.2小盘/饲料/维生素】</string>
			<key>溢多利</key>
			<string>【m20_SI=1.21/CP=8.35/BP=120.869】</string>
		</dict>
	</array>
	<key>0929---策略,&lt;110,SI&gt;9%可以低吸！</key>
	<array>
		<dict>
			<key>华通转债</key>
			<string>【110可建仓/小盘】</string>
			<key>三力转债</key>
			<string>【110可建仓】工业大麻 实打实，老挝</string>
			<key>中百集团</key>
			<string>【m20_SI=1.33/CP=28.78/BP=122.2小盘/饲料/维生素】</string>
			<key>亚太转债！ &lt;100</key>
			<string>可以建仓------三峡置换？</string>
		</dict>
	</array>
</dict>
</plist>
