<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0901</key>
	<string>溢价率指标？ 如何拼价？   6个月内 6个月外   时间价值？</string>
	<key>0902</key>
	<string></string>
	<key>0910</key>
	<string>利欧和特一的策略还是不错的。加上大盘好，一两周就看到效果了。</string>
</dict>
</plist>
